@import '../../styles/globalVariables.scss';

.NoPostsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    section{
        display: flex;
        align-items: center;
        cursor: pointer;
        p{
            margin-right: 10px;
        }
    }
}
.PostsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;

    .post{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        background-color: white;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);margin-bottom: 2rem;padding: 2rem;
        max-height: 30rem;
        position: relative;
        overflow: hidden;
        
        p{
            opacity: .80; 
        }

        h2{
            border-bottom: 1px solid red;
        }
        .author{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
}
@media screen and (max-width:950px){
    .NoPostsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;

        iframe{
            width: 100%;
        }
        small{
            display: none;
        }
    
        section{
            display: flex;
            align-items: center;
            cursor: pointer;
            p{
                margin-right: 10px;
            }
        }
    }
    .PostsContainer{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
    
        .post{
            width: 100%;
            margin: 10px;
            padding: 15px;
            h2{
                border: none;
                font-size: 17px;
            }

            p{
                font-size: 16px;
                display: none;
            }
            
            
        }
    }
}

